body {
    background-color: black;
    background-size:cover;
    height:100vh;
    margin: 0px;
    overflow: hidden;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white
}

.window{
    display:flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: solid;
    border-radius: 8px;
    border-color: white;
    min-width: 250px;
    min-height: 150px;
    width: 30vw;
    height: 25vh;
    overflow: hidden;
    resize: both;
}

.windowcontent{
    width: auto;
    height: auto;
    overflow-Y: scroll;
    resize: none;
    margin-left: 16px;
    margin-bottom: 16px;
    scrollbar-color: rgb(255, 255, 255) rgba(0, 0, 0, 0);
}

.windowtopbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    align-items: center;
    color: white;
    flex-direction: row;
    background-color: rgba(255,255,255,0.1);
    height:32px;
}

.windowname{
    text-align: center;
}

.closebutton{
    cursor: pointer;
    margin-right: 16px;
}

.app{
    width: 32px;
    height: auto;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 0px;
    cursor: pointer;
    
    transition: 0.33s cubic-bezier(0.075, 0.82, 0.165, 1)
}

.app:hover{
    width: 40px;
    margin-bottom: -4px;
}

.app:active{
    background-color: rgba(255,255,255,0.15); 
    border-radius: 8px;

    transition: background-color ease-in-out 0.2s;
}

.btn {
    background-color: rgba(0,0,0,0.35);
    color: white;
    width: 15vh;
    height: 8vh;
    border-radius: 8px;
    border-color: white;
    font-size:large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    margin: 16px;
}

.btn:hover {
    background-color: rgba(0,0,0,0.5);
}

.field {
    background-color: rgba(0,0,0,0.35);
    color: white;
    width: 8vh;
    height: 4vh;
    border-radius: 8px;
    border-color: white;
    font-size:large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    margin: 16px;
}

.field:hover {
    background-color: rgba(0,0,0,0.5);
}

/*one billion filters, mainly settings*/

.blur{
    backdrop-filter: blur(8px);
}

.dropshadow{
    filter: drop-shadow(0 0 8px black);
}

/*anims*/

/*
.music-anim {
    width: 500px;
    height: 500px;
    object-fit: contain;
    background-image: url("apps/musicplayer/music_room.png");
    display: block;

    animation: music-anim 1s steps(2) infinite;
}

@keyframes music-anim {
    from {
        background-size: 50% auto;
        background-position: 0px 0;
    }
    to {
        background-size: 50% auto;
        background-position: calc(-1000px) 0;
    }
}

.crow-anim {
    width: 500px;
    height: 500px;
    object-fit: contain;
    background-image: url("apps/timer/bird_valedictorian.png");
    display: block;

    animation: crow-anim 1s steps(2) infinite;
}

@keyframes crow-anim {
    from {
        background-position: 0px 0;
    }
    to {
        background-position: -1000px 0;
    }
}

.spin-anim {
    animation: spin-anim 120s linear infinite;
}

@keyframes spin-anim {
    from {
        transform: translate(calc(450px - 50%), calc(-820px + 50%)) rotate(0deg);
    }
    to {
        transform: translate(calc(450px - 50%), calc(-820px + 50%)) rotate(360deg);
    }
}
*/